:root {
  --opentranslate-primary: oklch(0.205 0 0);
  --opentranslate-brand: oklch(76.034% 0.12361 82.191);
  --opentranslate-foreground: oklch(0.985 0 0);
  --opentranslate-muted: oklch(0.97 0 0);
  --opentranslate-muted-foreground: oklch(0.556 0 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --opentranslate-primary: oklch(0.922 0 0);
    --opentranslate-brand: oklch(76.034% 0.12361 82.191);
    --opentranslate-foreground: oklch(0.205 0 0);
    --opentranslate-muted: oklch(0.269 0 0);
    --opentranslate-muted-foreground: oklch(0.708 0 0);
  }
}
